<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KGiSL</title>
</head>

<body ng-app="DemoApp">

    <h1>Demo for Angular</h1>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>

    <div ng-controller="DemoController">
        Tutorial Name: <input type="text" ng-model="tutorialName"><br>
        This tutorial is {{tutorialName}}
    </div>

    <div ng-controller="HelloWorldCtrl">
        Message : <input type="text" ng-model="message"> <br>
        {{message}}
    </div>

    <script>
        var app = angular.module('DemoApp', []);

        app.controller('DemoController', function ($scope) {
            $scope.tutorialName = "Angular JS";
        });

        app.controller('HelloWorldCtrl', function ($scope) {
            $scope.message = "Hello World!!";
        });
    </script>

</body>

</html>